In [1]:
import pandas as pd

df1=pd.read_csv('Audible_Catlog_Advanced_Features.csv')
df2=pd.read_csv('Audible_Catlog.csv')

# Display basic info and first few rows
df1_info = df1.info(), df1.head()
df2_info = df2.info(), df2.head()

df1_info, df2_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4464 entries, 0 to 4463
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book Name          4464 non-null   object
 1   Author             4464 non-null   object
 2   Rating             4464 non-null   float64
 3   Number of Reviews  4043 non-null   float64
 4   Price              4464 non-null   int64
 5   Description        4458 non-null   object
 6   Listening Time     4464 non-null   object
 7   Ranks and Genre    4464 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 279.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book Name          6368 non-null   object
 1   Author             6368 non-null   object
 2   Rating             6368 non-null   float64
 3   Number of Reviews  5737 non-null   float64
 4   Price              6365 non-null   float64
dtypes: float64(3), object(2)
memory usage: 248.9+ KB

((None,
                                             Book Name          Author  Rating  \
  0  Think Like a Monk: The Secret of How to Harnes...      Jay Shetty     4.9
  1  Ikigai: The Japanese Secret to a Long and Happ...   Héctor García     4.6
  2  The Subtle Art of Not Giving a F*ck: A Counter...     Mark Manson     4.4
  3  Atomic Habits: An Easy and Proven Way to Build...     James Clear     4.6
  4  Life's Amazing Secrets: How to Find Balance an...  Gaur Gopal Das     4.6

     Number of Reviews  Price  \
  0              371.0  10080
  1             3682.0    615
  2            20306.0  10378
  3             4678.0    888
  4             4308.0   1005

                                           Description           Listening Time  \
  0  Over the past three years, Jay Shetty has beco...  10 hours and 54 minutes
  1                         Brought to you by Penguin.   3 hours and 23 minutes
  2  In this generation-defining self-help guide, a...   5 hours and 17 minutes
  3                         Brought to you by Penguin.   5 hours and 35 minutes
  4  Stop going through life,  Start growing throug...   6 hours and 25 minutes

                                       Ranks and Genre
  0  ,#1 in Audible Audiobooks & Originals (See Top...
  1  ,#2 in Audible Audiobooks & Originals (See Top...
  2  ,#3 in Audible Audiobooks & Originals (See Top...
  3  ,#5 in Audible Audiobooks & Originals (See Top...
  4  ,#6 in Audible Audiobooks & Originals (See Top...  ),
 (None,
                                             Book Name          Author  Rating  \
  0  Think Like a Monk: The Secret of How to Harnes...      Jay Shetty     4.9
  1  Ikigai: The Japanese Secret to a Long and Happ...   Héctor García     4.6
  2  The Subtle Art of Not Giving a F*ck: A Counter...     Mark Manson     4.4
  3  Atomic Habits: An Easy and Proven Way to Build...     James Clear     4.6
  4  Life's Amazing Secrets: How to Find Balance an...  Gaur Gopal Das     4.6

     Number of Reviews    Price
  0              313.0  10080.0
  1             3658.0    615.0
  2            20174.0  10378.0
  3             4614.0    888.0
  4             4302.0   1005.0  ))

In [2]:
# Merge datasets on 'Book Name' and 'Author' while avoiding duplicate columns
df = pd.merge(df1, df2, on=["Book Name", "Author"], suffixes=('_df1', '_df2'))
df

,Book Name,Author,Rating_df1,Number of Reviews_df1,Price_df1,Description,Listening Time,Ranks and Genre,Rating_df2,Number of Reviews_df2,Price_df2
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,371.0,10080,"Over the past three years, Jay Shetty has beco...",10 hours and 54 minutes,",#1 in Audible Audiobooks & Originals (See Top...",4.9,313.0,10080.0
1,Ikigai: The Japanese Secret to a Long and Happ...,Héctor García,4.6,3682.0,615,Brought to you by Penguin.,3 hours and 23 minutes,",#2 in Audible Audiobooks & Originals (See Top...",4.6,3658.0,615.0
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20306.0,10378,"In this generation-defining self-help guide, a...",5 hours and 17 minutes,",#3 in Audible Audiobooks & Originals (See Top...",4.4,20174.0,10378.0
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4678.0,888,Brought to you by Penguin.,5 hours and 35 minutes,",#5 in Audible Audiobooks & Originals (See Top...",4.6,4614.0,888.0
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4308.0,1005,"Stop going through life, Start growing throug...",6 hours and 25 minutes,",#6 in Audible Audiobooks & Originals (See Top...",4.6,4302.0,1005.0
...,...,...,...,...,...,...,...,...,...,...,...
4246,Passion and Purity: Learning to Bring Your Lov...,Elisabeth Elliot,4.8,156.0,608,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.8,153.0,608.0
4247,Things I Wish I'd Known Before We Got Married,Gary Chapman,4.7,1388.0,516,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.7,1379.0,516.0
4248,Things I Wish I'd Known Before We Got Married,Gary Chapman,4.7,1388.0,516,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.7,1379.0,516.0
4249,The Disease Delusion: Conquering the Causes of...,Dr. Jeffrey S. Bland,4.7,259.0,12356,Disease care vs health care: Which would you c...,-1,-1,4.7,256.0,12356.0
4250,The Disease Delusion: Conquering the Causes of...,Dr. Jeffrey S. Bland,4.7,259.0,12356,Disease care vs health care: Which would you c...,-1,-1,4.7,256.0,12356.0

In [3]:
# Drop duplicate rating, review, and price columns (keep only one set)
df = df.drop(columns=['Rating_df1', 'Number of Reviews_df1', 'Price_df1'])

In [4]:
# Rename columns for clarity
df.rename(columns={
    'Rating_df2': 'Rating',
    'Number of Reviews_df2': 'Number of Reviews',
    'Price_df2': 'Price',
    'Ranks and Genre': 'Rank_Genre'
}, inplace=True)

df

,Book Name,Author,Description,Listening Time,Rank_Genre,Rating,Number of Reviews,Price
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,"Over the past three years, Jay Shetty has beco...",10 hours and 54 minutes,",#1 in Audible Audiobooks & Originals (See Top...",4.9,313.0,10080.0
1,Ikigai: The Japanese Secret to a Long and Happ...,Héctor García,Brought to you by Penguin.,3 hours and 23 minutes,",#2 in Audible Audiobooks & Originals (See Top...",4.6,3658.0,615.0
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,"In this generation-defining self-help guide, a...",5 hours and 17 minutes,",#3 in Audible Audiobooks & Originals (See Top...",4.4,20174.0,10378.0
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,Brought to you by Penguin.,5 hours and 35 minutes,",#5 in Audible Audiobooks & Originals (See Top...",4.6,4614.0,888.0
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,"Stop going through life, Start growing throug...",6 hours and 25 minutes,",#6 in Audible Audiobooks & Originals (See Top...",4.6,4302.0,1005.0
...,...,...,...,...,...,...,...,...
4246,Passion and Purity: Learning to Bring Your Lov...,Elisabeth Elliot,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.8,153.0,608.0
4247,Things I Wish I'd Known Before We Got Married,Gary Chapman,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.7,1379.0,516.0
4248,Things I Wish I'd Known Before We Got Married,Gary Chapman,\n\nOops!\nIt's rush hour and traffic is pilin...,-1,-1,4.7,1379.0,516.0
4249,The Disease Delusion: Conquering the Causes of...,Dr. Jeffrey S. Bland,Disease care vs health care: Which would you c...,-1,-1,4.7,256.0,12356.0
4250,The Disease Delusion: Conquering the Causes of...,Dr. Jeffrey S. Bland,Disease care vs health care: Which would you c...,-1,-1,4.7,256.0,12356.0

In [5]:
df.columns

Index(['Book Name', 'Author', 'Description', 'Listening Time', 'Rank_Genre',
       'Rating', 'Number of Reviews', 'Price'],
      dtype='object')

In [6]:
df['Author']

0                 Jay Shetty
1              Héctor García
2                Mark Manson
3                James Clear
4             Gaur Gopal Das
                ...
4246        Elisabeth Elliot
4247            Gary Chapman
4248            Gary Chapman
4249    Dr. Jeffrey S. Bland
4250    Dr. Jeffrey S. Bland
Name: Author, Length: 4251, dtype: object

In [7]:
df['Author'] = df['Author'].str.strip()  # Remove leading/trailing spaces
df['Author'] = df['Author'].str.title()  # Convert to title case

In [8]:
df['Author'].isnull().sum()

np.int64(0)

In [9]:
# Handle missing values
df['Author'].fillna("Unknown", inplace=True)  # Fill missing with 'Unknown'

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_4631/3142254368.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Author'].fillna("Unknown", inplace=True)  # Fill missing with 'Unknown'

In [10]:
# Verify changes
print(df['Author'].unique())  # Check for duplicates manually

['Jay Shetty' 'Héctor García' 'Mark Manson' ... 'Dervla Murphy'
 'Elisabeth Elliot' 'Dr. Jeffrey S. Bland']

In [11]:
df['Book Name']

0       Think Like a Monk: The Secret of How to Harnes...
1       Ikigai: The Japanese Secret to a Long and Happ...
2       The Subtle Art of Not Giving a F*ck: A Counter...
3       Atomic Habits: An Easy and Proven Way to Build...
4       Life's Amazing Secrets: How to Find Balance an...
                              ...
4246    Passion and Purity: Learning to Bring Your Lov...
4247        Things I Wish I'd Known Before We Got Married
4248        Things I Wish I'd Known Before We Got Married
4249    The Disease Delusion: Conquering the Causes of...
4250    The Disease Delusion: Conquering the Causes of...
Name: Book Name, Length: 4251, dtype: object

In [12]:
import re

In [13]:
# Function to fix title case while preserving meaningful lowercase words
def clean_title(title):
    exceptions = {'a', 'an', 'the', 'and', 'but', 'or', 'for', 'nor', 'on', 'at', 'to', 'by', 'from', 'in'}
    words = title.split()
    cleaned_words = [words[0].capitalize()] + [word if word.lower() in exceptions else word.capitalize() for word in words[1:]]
    return " ".join(cleaned_words)

In [14]:
# Convert apostrophe formatting
df['Book Name'] = df['Book Name'].str.replace("’", "'", regex=True)  # Convert smart quotes
df['Book Name'] = df['Book Name'].str.replace(r"\b(\w+)'S\b", lambda x: x.group(1) + "'s", regex=True)  # Fix "Life'S" → "Life's"

In [15]:
# Apply title formatting with lowercase exceptions
df['Book Name'] = df['Book Name'].apply(clean_title)

In [16]:
# Remove leading/trailing spaces
df['Book Name'] = df['Book Name'].str.strip()

# Convert to title case (keeps proper noun formatting)
df['Book Name'] = df['Book Name'].str.title()

In [17]:
# Handle missing values (drop if critical, fill if needed)
df.dropna(subset=['Book Name'], inplace=True)

In [18]:
# Remove exact duplicate book names (optional)
df.drop_duplicates(subset=['Book Name'], keep='first', inplace=True)

In [19]:
# Verify changes
print(df['Book Name'].unique()[:100])  # Display first 10 unique book names

['Think Like A Monk: The Secret Of How To Harness The Power Of Positivity And Be Happy Now'
 'Ikigai: The Japanese Secret To A Long And Happy Life'
 'The Subtle Art Of Not Giving A F*Ck: A Counterintuitive Approach To Living A Good Life'
 'Atomic Habits: An Easy And Proven Way To Build Good Habits And Break Bad Ones'
 "Life'S Amazing Secrets: How To Find Balance And Purpose In Your Life"
 'Sapiens' 'Extraordinary Leadership' 'The Intelligent Investor Rev Ed.'
 'Rich Dad Poor Dad: What The Rich Teach Their Kids About Money - That The Poor And Middle Class Do Not!'
 'The 5Am Club: Own Your Morning. Elevate Your Life.'
 'Influence: The Psychology Of Persuasion'
 'Dream With Your Eyes Open: An Entrepreneurial Journey' 'The Sandman'
 'How To Win Friends And Influence People'
 'The Alchemist: A Fable About Following Your Dream'
 'Thinking, Fast And Slow'
 'Just Do It: The Nike Spirit In The Corporate World'
 'Sherlock Holmes: The Definitive Collection' 'Becoming'
 'The Warren Buffett Way: 3Rd Edition' '21 Lessons For The 21St Century'
 'Secrets Of The Millionaire Mind: Mastering The Inner Game Of Wealth'
 "Let'S Talk Money: You'Ve Worked Hard For It, Now Make It Work For You"
 'Elon Musk' 'The Monk Who Sold His Ferrari'
 'The Power Of Your Subconscious Mind'
 "Can'T Hurt Me: Master Your Mind And Defy The Odds"
 'The Power Of Habit: Why We Do What We Do, And How To Change'
 "Harry Potter And The Philosopher'S Stone, Book 1"
 'Inglorious Empire: What The British Did To India'
 'Raavan: Enemy Of Aryavarta' 'My Gita' 'Zero To One'
 'Limitless: Upgrade Your Brain, Learn Anything Faster, And Unlock Your Exceptional Life'
 'The Unusual Billionaires' 'Chanakya Neeti'
 'The Rudest Book Ever: Insanely Practical Ideas To Free Your Mind From All Bulls--T'
 "Start With Why: How Great Leaders Inspire Everyone To Take Action (Int'L Edit.)"
 'Never Split The Difference: Negotiating As If Your Life Depended On It'
 'Hyperfocus' 'The Tatas: How A Family Built A Business And A Nation'
 'Homo Deus: A Brief History Of Tomorrow' 'Meri Gita'
 'A Space Of Her Own: Personal Narratives Of Twelve Women'
 'No Rules Rules: Netflix And The Culture Of Reinvention'
 'Think And Grow Rich'
 "Talking To Strangers: What We Should Know About The People We Don'T Know"
 'The Tales Of Beedle The Bard'
 'The Hard Thing About Hard Things: Building A Business When There Are No Easy Answers'
 'The Bhagavad Gita' 'To Kill A Mockingbird'
 'Men Are From Mars, Women Are From Venus: The Classic Guide To Understanding The Opposite Sex'
 'Trading In The Zone: Master The Market With Confidence, Discipline, And A Winning Attitude'
 'Free: Professional Integrity (A Riyria Chronicles Tale)'
 'Autobiography Of A Yogi' 'A Gentleman In Moscow'
 "Hitchhiker'S Guide To The Galaxy" 'Hit Refresh'
 'A Suitable Boy (Dramatised)'
 'Take Control Of Your Life: How To Silence Fear And Win The Mental Game'
 'The 10X Rule: The Only Difference Between Success And Failure'
 'A Game Of Thrones: Book 1 Of A Song Of Ice And Fire' 'Mythos'
 'Apke Avchetan Man Ki Shakti [The Power Of Your Subconscious Mind]'
 'Harry Potter And The Order Of The Phoenix, Book 5'
 'Harry Potter And The Goblet Of Fire, Book 4'
 'Harry Potter And The Half-Blood Prince, Book 6' 'Wings Of Fire'
 "Man'S Search For Meaning"
 'Learn English: Word Power 101: Absolute Beginner English #1'
 "The Lean Startup: How Today'S Entrepreneurs Use Continuous Innovation To Create Radically Successful Businesses"
 'The Girl On The Train'
 'Range: How Generalists Triumph In A Specialized World'
 'Everything Is F*Cked: A Book About Hope' 'The Girl In Room 105'
 'Eat That Frog!'
 'Everything Is Figureoutable: How One Simple Belief Can Help Us Overcome Any Obstacle And Create Unstoppable Success'
 'A Brief History Of Time: From Big Bang To Black Holes' '1984'
 'The Alchemist (Hindi Edition)'
 'The Anarchy: The Relentless Rise Of The East India Company'
 'Zen: The Art Of Simple Living'
 "Poirot'S Finest Cases: Eight Full-Cast Bbc Radio Dramatisations"
 'Loaded: Money, Psychology, And How To Get Ahead Without Leaving Your Values Behind'
 'Sochiye Aur Ameer Baniye [Think And Be Rich]'
 'Tools Of Titans: The Tactics, Routines, And Habits Of Billionaires, Icons, And World-Class Performers'
 'Good Economics For Hard Times: Better Answers To Our Biggest Problems'
 '365 Panchatantra Stories'
 'The Dhandho Investor: The Low-Risk Value Method To High Returns'
 'Talk English: The Secret To Speak English Like A Native In 6 Months For Busy People, Learn Spoken English From The Success'
 'Azadi: Freedom. Fascism. Fiction.'
 'Fire And Blood: 300 Years Before A Game Of Thrones (A Targaryen History) (A Song Of Ice And Fire)'
 'Market Wizards: Interviews With Top Traders'
 'The Story Of My Experiments With Truth: An Autobiography'
 '48 Laws Of Power'
 'Romancing The Balance Sheet: For Anyone Who Owns, Runs Or Manages A Business'
 'Yuval Noah Harari: Audible Sessions: Free Exclusive Interview'
 'Who Will Cry When You Die? (Hindi): Life Lessons From The Monk Who Sold His Ferrari'
 'Anxious People' 'Outliers: The Story Of Success']

In [20]:
df['Book Name'].isnull().sum()

np.int64(0)

In [21]:
df['Description']

0       Over the past three years, Jay Shetty has beco...
1                              Brought to you by Penguin.
2       In this generation-defining self-help guide, a...
3                              Brought to you by Penguin.
4       Stop going through life,  Start growing throug...
                              ...
4243    Sorry, we just need to make sure you're not a ...
4245    Full Tilt is the inspiring true story of Dervl...
4246    \n\nOops!\nIt's rush hour and traffic is pilin...
4247    \n\nOops!\nIt's rush hour and traffic is pilin...
4249    Disease care vs health care: Which would you c...
Name: Description, Length: 3347, dtype: object

In [22]:
# Define irrelevant phrases to remove
irrelevant_phrases = [
    "Brought to you by Penguin",
    "Sorry, we just need to make sure you're not a robot",
    "Oops!",
    "It's rush hour and traffic is piling up",
    "Disease care vs health care: Which would you choose?",
    "Full Tilt is the inspiring true story",  # Example of incomplete descriptions
    "Yuval Noah Harari: Audible Sessions: Free Exclusive Interview"
]

In [23]:
# Function to clean descriptions
def clean_description(desc):
    if pd.isna(desc) or any(phrase in desc for phrase in irrelevant_phrases):
        return None  # Mark for removal
    
    # Remove newlines, tabs, and multiple spaces
    desc = desc.replace("\n", " ").replace("\t", " ").strip()
    
    # Remove non-alphabetic characters except punctuation
    desc = re.sub(r"[^a-zA-Z0-9.,!?;'\s]", "", desc)
    
    # Convert to lowercase
    desc = desc.lower()
    
    # Remove extra spaces
    desc = re.sub(r"\s+", " ", desc)

    return desc

In [24]:
# Apply cleaning
df["cleaned_description"] = df["Description"].apply(clean_description)

In [25]:
# Drop rows where cleaned_description is empty
df = df.dropna(subset=["cleaned_description"]).reset_index(drop=True)

In [26]:
# Drop the original "Description" column
df.drop(columns=["Description"], inplace=True)

In [27]:
df.head(3)

,Book Name,Author,Listening Time,Rank_Genre,Rating,Number of Reviews,Price,cleaned_description
0,Think Like A Monk: The Secret Of How To Harnes...,Jay Shetty,10 hours and 54 minutes,",#1 in Audible Audiobooks & Originals (See Top...",4.9,313.0,10080.0,"over the past three years, jay shetty has beco..."
1,The Subtle Art Of Not Giving A F*Ck: A Counter...,Mark Manson,5 hours and 17 minutes,",#3 in Audible Audiobooks & Originals (See Top...",4.4,20174.0,10378.0,"in this generationdefining selfhelp guide, a s..."
2,Life'S Amazing Secrets: How To Find Balance An...,Gaur Gopal Das,6 hours and 25 minutes,",#6 in Audible Audiobooks & Originals (See Top...",4.6,4302.0,1005.0,"stop going through life, start growing through..."

In [28]:
df['Listening Time']

0       10 hours and 54 minutes
1        5 hours and 17 minutes
2        6 hours and 25 minutes
3       15 hours and 18 minutes
4          1 hour and 6 minutes
                 ...
2078                         -1
2079                         -1
2080                         -1
2081                         -1
2082                         -1
Name: Listening Time, Length: 2083, dtype: object

In [29]:
# Function to convert "X hours and Y minutes" to total minutes
def convert_to_minutes(time_str):
    if time_str == "-1":
        return None  # Treat "-1" as missing value
    
    # Extract hours and minutes using regex
    match = re.search(r"(\d+)\s*hours?", time_str)
    hours = int(match.group(1)) if match else 0

    match = re.search(r"(\d+)\s*minutes?", time_str)
    minutes = int(match.group(1)) if match else 0

    return hours * 60 + minutes  # Convert to total minutes

In [30]:
# Apply conversion function
df["Listening Time (minutes)"] = df["Listening Time"].astype(str).apply(convert_to_minutes)

In [31]:
df['Listening Time (minutes)']

0       654.0
1       317.0
2       385.0
3       918.0
4        66.0
        ...
2078      NaN
2079      NaN
2080      NaN
2081      NaN
2082      NaN
Name: Listening Time (minutes), Length: 2083, dtype: float64

In [32]:
# Drop the original "Listening Time" column
df.drop(columns=["Listening Time"], inplace=True)

In [33]:
df['Listening Time (minutes)']

0       654.0
1       317.0
2       385.0
3       918.0
4        66.0
        ...
2078      NaN
2079      NaN
2080      NaN
2081      NaN
2082      NaN
Name: Listening Time (minutes), Length: 2083, dtype: float64

In [34]:
df["Listening Time (minutes)"].fillna(df["Listening Time (minutes)"].median(), inplace=True)

In [35]:
df["Listening Time (minutes)"] = df["Listening Time (minutes)"].astype("Int64")

In [36]:
df = df[df["Listening Time (minutes)"] < 2000]  # Example: Remove entries > 2000 min (33+ hrs)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2040 entries, 0 to 2082
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Book Name                 2040 non-null   object
 1   Author                    2040 non-null   object
 2   Rank_Genre                2040 non-null   object
 3   Rating                    2040 non-null   float64
 4   Number of Reviews         1850 non-null   float64
 5   Price                     2040 non-null   float64
 6   cleaned_description       2040 non-null   object
 7   Listening Time (minutes)  2040 non-null   Int64
dtypes: Int64(1), float64(3), object(4)
memory usage: 145.4+ KB

In [38]:
df['Number of Reviews']

0         313.0
1       20174.0
2        4302.0
3       19994.0
4         179.0
         ...
2078       88.0
2079     2513.0
2080        3.0
2081        NaN
2082       10.0
Name: Number of Reviews, Length: 2040, dtype: float64

In [39]:
df["Number of Reviews"].fillna(df["Number of Reviews"].median(), inplace=True)

In [40]:
df["Number of Reviews"] = df["Number of Reviews"].astype("Int64")

In [41]:
df = df[df["Number of Reviews"] < 20000]  # Example threshold

In [42]:
df['Number of Reviews']

0         313
2        4302
3       19994
4         179
5        9253
        ...
2078       88
2079     2513
2080        3
2081      319
2082       10
Name: Number of Reviews, Length: 2026, dtype: Int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2026 entries, 0 to 2082
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Book Name                 2026 non-null   object
 1   Author                    2026 non-null   object
 2   Rank_Genre                2026 non-null   object
 3   Rating                    2026 non-null   float64
 4   Number of Reviews         2026 non-null   Int64
 5   Price                     2026 non-null   float64
 6   cleaned_description       2026 non-null   object
 7   Listening Time (minutes)  2026 non-null   Int64
dtypes: Int64(2), float64(2), object(4)
memory usage: 146.4+ KB

In [44]:
df['Price']

0       10080.0
2        1005.0
3        1093.0
4           0.0
5       18290.0
         ...
2078      586.0
2079       65.0
2080      585.0
2081       47.0
2082      703.0
Name: Price, Length: 2026, dtype: float64

In [45]:
df["Price"].fillna(df["Price"].median(), inplace=True)

In [46]:
df["Price"] = df["Price"].astype("Int64")

In [47]:
df = df[df["Price"] < 50000]  # Example threshold (adjust as needed)

In [48]:
df = df[df["Price"] >= 0]

In [ ]:
df["Price"]

0       10080
2        1005
3        1093
4           0
5       18290
        ...
2078      586
2079       65
2080      585
2081       47
2082      703
Name: Price, Length: 2026, dtype: Int64

In [50]:
df['Rating']

0       4.9
2       4.6
3       4.6
4       4.1
5       4.4
       ...
2078    4.4
2079    4.3
2080    3.5
2081   -1.0
2082    5.0
Name: Rating, Length: 2026, dtype: float64

In [51]:
import numpy as np
df["Rating"].replace(-1.0, np.nan, inplace=True)

In [52]:
df['Rating'].isnull().sum()

np.int64(190)

In [53]:
df["Rating"].fillna(df["Rating"].median(), inplace=True)

In [54]:
df = df[(df["Rating"] >= 0) & (df["Rating"] <= 5)]

In [55]:
df["Rating"] = df["Rating"].astype(float)

In [56]:
df['Rating']

0       4.9
2       4.6
3       4.6
4       4.1
5       4.4
       ...
2078    4.4
2079    4.3
2080    3.5
2081    4.5
2082    5.0
Name: Rating, Length: 2026, dtype: float64

In [57]:
df['Rank_Genre']

0       ,#1 in Audible Audiobooks & Originals (See Top...
2       ,#6 in Audible Audiobooks & Originals (See Top...
3       ,#4 in Audible Audiobooks & Originals (See Top...
4       ,#1 Free in Audible Audiobooks & Originals (Se...
5       ,#7 in Audible Audiobooks & Originals (See Top...
                              ...
2078                                                   -1
2079                                                   -1
2080                                                   -1
2081                                                   -1
2082                                                   -1
Name: Rank_Genre, Length: 2026, dtype: object

In [58]:
# Function to extract rank and genre
def extract_rank_genre(value):
    if value == "-1":
        return pd.NA, pd.NA  # Replace -1 with NaN
    rank_match = re.search(r"#(\d+)", value)  # Extract rank number
    genre_match = re.search(r"in (.+?) \(", value)  # Extract genre
    rank = int(rank_match.group(1)) if rank_match else pd.NA
    genre = genre_match.group(1) if genre_match else pd.NA
    return rank, genre

In [59]:
# Apply extraction
df[["Rank", "Genre"]] = df["Rank_Genre"].apply(lambda x: pd.Series(extract_rank_genre(x)))

In [60]:
df['Rank']

0          1
2          6
3          4
4          1
5          7
        ...
2078    <NA>
2079    <NA>
2080    <NA>
2081    <NA>
2082    <NA>
Name: Rank, Length: 2026, dtype: object

In [61]:
df['Genre']

0       Audible Audiobooks & Originals
2       Audible Audiobooks & Originals
3       Audible Audiobooks & Originals
4       Audible Audiobooks & Originals
5       Audible Audiobooks & Originals
                     ...
2078                              <NA>
2079                              <NA>
2080                              <NA>
2081                              <NA>
2082                              <NA>
Name: Genre, Length: 2026, dtype: object

In [62]:

# Define keyword-based genre mappings
# Keyword-based genre mapping
genre_mapping = {
    "monk": "Self-Help",
    "secret": "Self-Help",
    "leadership": "Business",
    "investor": "Finance",
    "economics": "Finance",
    "sapiens": "History",
    "physics": "Science",
    "quantum": "Science",
    "hamlet": "Literature",
    "shakespeare": "Literature",
    "essays": "Philosophy",
    "agility": "Business",
    "enterprise": "Business",
}

In [63]:

# Function to classify genres based on keywords
def classify_genre(book_name, current_genre):
    book_name_lower = str(book_name).lower()
    for keyword, genre in genre_mapping.items():
        if keyword in book_name_lower:
            return genre
    return current_genre  # Keep the original genre if no match found

In [64]:
# Apply the function to refine the Genre column
df["Genre"] = df.apply(lambda row: classify_genre(row["Book Name"], row["Genre"]), axis=1)

In [65]:
# Display the cleaned genre column
df[["Book Name", "Genre"]]

                                              Book Name       Genre
0     Think Like A Monk: The Secret Of How To Harnes...   Self-Help
2     Life'S Amazing Secrets: How To Find Balance An...   Self-Help
3                                               Sapiens     History
4                              Extraordinary Leadership    Business
5                      The Intelligent Investor Rev Ed.     Finance
...                                                 ...         ...
2078  God Is Not Dead: What Quantum Physics Tells Us...     Science
2079                                             Hamlet  Literature
2080                   Coriolanus: Arkangel Shakespeare  Literature
2081                Essays 10: On The Shortness Of Life  Philosophy
2082  Enterprise Agility: Being Agile In A Changing ...    Business

[2026 rows x 2 columns]

In [66]:
df['Genre'].isnull().sum()

np.int64(371)

In [67]:
df['Genre'].unique()

array(['Self-Help', 'History', 'Business', 'Finance',
       'Audible Audiobooks & Originals', <NA>, 'Science',
       'Crime, Thriller & Mystery',
       'Political Theory,#381 in Healthy Living & Wellness,#1,582 in History',
       'Contemporary Fiction', 'Romance', 'Fantasy', 'Asian History',
       "Children's Literature & Fiction", 'Mysticism', 'Classic Fiction',
       'Outdoor Survival Skills',
       'History of Civilization & Culture,#174 in Ancient History',
       'Biographies & Autobiographies',
       'Economics Books,#3,922 in Biographies & Autobiographies',
       'Theology & Philosophy of Religion,#1,058 in Christianity',
       'Sports Training & Coaching', 'Ancient History', 'True Accounts',
       'Literary Theory, History & Criticism,#1,158 in Society & Culture',
       'Internet & Social Media', 'Science Fiction', 'Literature',
       'Christianity', 'Spirituality',
       'Family & Relationships,#30,174 in Society & Culture',
       'Sciences, Technology & Medicine', 'Action & Adventure',
       'Society & Culture', "Children's History",
       'Healthy Living & Wellness,#6,114 in Biographies & Autobiographies',
       'Philosophy'], dtype=object)

In [68]:
df['Genre'].value_counts()

Genre
Audible Audiobooks & Originals                                          1472
Self-Help                                                                 79
Business                                                                  20
Finance                                                                   17
Science                                                                   16
Contemporary Fiction                                                       5
Fantasy                                                                    4
Crime, Thriller & Mystery                                                  4
History                                                                    3
Romance                                                                    3
Philosophy                                                                 3
Literature                                                                 3
Biographies & Autobiographies                                              2
Children's Literature & Fiction                                            2
Asian History                                                              1
Political Theory,#381 in Healthy Living & Wellness,#1,582 in History       1
Outdoor Survival Skills                                                    1
History of Civilization & Culture,#174 in Ancient History                  1
Classic Fiction                                                            1
Mysticism                                                                  1
Theology & Philosophy of Religion,#1,058 in Christianity                   1
Economics Books,#3,922 in Biographies & Autobiographies                    1
True Accounts                                                              1
Sports Training & Coaching                                                 1
Literary Theory, History & Criticism,#1,158 in Society & Culture           1
Internet & Social Media                                                    1
Science Fiction                                                            1
Ancient History                                                            1
Christianity                                                               1
Spirituality                                                               1
Sciences, Technology & Medicine                                            1
Family & Relationships,#30,174 in Society & Culture                        1
Action & Adventure                                                         1
Society & Culture                                                          1
Children's History                                                         1
Healthy Living & Wellness,#6,114 in Biographies & Autobiographies          1
Name: count, dtype: int64

In [69]:
df['Rank']

0          1
2          6
3          4
4          1
5          7
        ...
2078    <NA>
2079    <NA>
2080    <NA>
2081    <NA>
2082    <NA>
Name: Rank, Length: 2026, dtype: object

In [70]:
# Convert Rank to numeric and replace <NA> or None with NaN
df['Rank'] = pd.to_numeric(df['Rank'], errors='coerce')

In [71]:
df['Rank']

0       1.0
2       6.0
3       4.0
4       1.0
5       7.0
       ...
2078    NaN
2079    NaN
2080    NaN
2081    NaN
2082    NaN
Name: Rank, Length: 2026, dtype: float64

In [72]:
df.drop(columns=['Rank_Genre'], inplace=True)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2026 entries, 0 to 2082
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Book Name                 2026 non-null   object
 1   Author                    2026 non-null   object
 2   Rating                    2026 non-null   float64
 3   Number of Reviews         2026 non-null   Int64
 4   Price                     2026 non-null   Int64
 5   cleaned_description       2026 non-null   object
 6   Listening Time (minutes)  2026 non-null   Int64
 7   Rank                      1650 non-null   float64
 8   Genre                     1655 non-null   object
dtypes: Int64(3), float64(2), object(4)
memory usage: 164.2+ KB

In [74]:
df['Rank'] = df['Rank'].fillna(df['Rank'].median())  # Replace NaN with median

In [75]:
df['Rank'] = df['Rank'].astype('Int64')  # Keeps NaNs but converts others to integers

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2026 entries, 0 to 2082
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Book Name                 2026 non-null   object
 1   Author                    2026 non-null   object
 2   Rating                    2026 non-null   float64
 3   Number of Reviews         2026 non-null   Int64
 4   Price                     2026 non-null   Int64
 5   cleaned_description       2026 non-null   object
 6   Listening Time (minutes)  2026 non-null   Int64
 7   Rank                      2026 non-null   Int64
 8   Genre                     1655 non-null   object
dtypes: Int64(4), float64(1), object(4)
memory usage: 166.2+ KB

In [77]:
df['Genre'] = df['Genre'].fillna('Unknown')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2026 entries, 0 to 2082
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Book Name                 2026 non-null   object
 1   Author                    2026 non-null   object
 2   Rating                    2026 non-null   float64
 3   Number of Reviews         2026 non-null   Int64
 4   Price                     2026 non-null   Int64
 5   cleaned_description       2026 non-null   object
 6   Listening Time (minutes)  2026 non-null   Int64
 7   Rank                      2026 non-null   Int64
 8   Genre                     2026 non-null   object
dtypes: Int64(4), float64(1), object(4)
memory usage: 166.2+ KB

In [79]:
df=df.to_csv('cleaned_book_data.csv',index=False)